.active {
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 15%;
}

.active:hover {
    background-color: brown;
    color: white;
}

.navlink {
    margin: 10px;
}
